.style{
    background-color: rgba(10, 10, 10, 0.3);
    width:1250px;
    height:80px; 
}
.border{
    padding-top:170px;
    padding-left:350px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} 

body{
    background-image: url("https://t4.ftcdn.net/jpg/02/86/32/31/360_F_286323187_mDk3N4nGDaPkUmhNcdBe3RjSOfKqx4nZ.jpg");
    background-repeat: no-repeat;
    background-position: fixed; 
    opacity: 1.2;
    background-size: 1250px 550px;
    height:600px;
    width:1250px;

} 
.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
} 

.demo6{
   
    width:300px;
    height:210px;
    padding-top:5%;
    border-radius:15px;
    opacity:6.5;
    background-color: rgba(10, 10, 10, 0.3);
} 
.demo61{
  margin-top:1px;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
} 

#end{
    margin-top:15px;
    margin-left:1060px;
} 

a{
    color:white;
}